body {
    overflow-x: hidden;
    background-image: url('/static/images/watermark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 590px;
    height: 557px;
    position: relative;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    padding: 20px;
}

.banner {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

.rounded-button,
.rounded-button2 {
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #0060A9;
    color: #fff;
}

.rounded-button2 {
    margin-top: 180px;
}

.logo {
    width: 188px;
    height: 62px;
    margin: auto;
    position: absolute;
    top: 20px;
    left: 20px;
}

.menu-text {
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    margin: auto;
    background: #007bff;
    color: #fff;
    padding: 10px;
}

.menu-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.menu-item div {
    background: #0060A9;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    justify-content: flex-start;
    align-items: center;
    gap: 39px;
    display: inline-flex;
    color: white;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px 20px;
    border-radius: 15px;
}

.admin-profile {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.admin-profile img {
    width: 42px;
    height: 39px;
}

.cerrar-sesion {
    width: 42px;
    height: 39px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cerrar-sesion img {
    width: 100%;
    height: 100%;
}

.perfil-text {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

