<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet"> <!-- Agregamos la fuente Roboto -->
    <link rel="stylesheet" type="text/css" href="/static/homepage.css">
</head>
<body>
    <div class="logo-container">
        <div class="logo-box">
            <img class="logo" src="/static/images/ban-icesi.png" alt="Logo"> <!-- Agregamos el logo -->
        </div>
    </div>

    <div class="modules-container">
        <div class="module-container">
            <h1>MODULO GESTION BECAS</h1>
            <p>Administra y otorga becas a estudiantes.</p>
            <div class="button-container">
                <a class="login-button" href="/login">Iniciar Sesión</a>
            </div>
        </div>

        <div class="module-container">
            <h1>MODULO CRM</h1>
            <p>Gestiona las relaciones con los clientes y las ventas.</p>
            <div class="button-container">
                <a class="disabled-button">No disponible</a>
            </div>
        </div>

        <div class="module-container">
            <h1>MODULO DE SEGUIMIENTO A ESTUDIANTES</h1>
            <p>Realiza un seguimiento detallado del progreso académico de los estudiantes.</p>
            <div class="button-container">
                <a class="disabled-button">No disponible</a>
            </div>
        </div>
    </div>

</body>

</html>
