<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/lista_usuarios.css">
    
</head>

<body>
    <div class="usuarios-box">
        <img class="logo" src="/static/images/ban-icesi.png" alt="Logo">
        <h1>Lista de Usuarios</h1>

        <a href="/inicio" class="volver-btn">Volver al Inicio</a>

        <div class="usuarios-box">
            <h2>Usuarios Registrados</h2>
            <table>
                <tr>
                    <th>User</th>
                    <th>Rol</th>
                    <th>Asignar Rol</th>
                </tr>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.first_name }}</td>
                        <td>
                            <select class="editar-rol-select" data-username="{{ usuario.username }}">
                                <option value="Opción01">Seleccione</option>
                                <option value="Sin Rol">Sin Rol</option>
                                <option value="Donante">Donante</option>
                                <option value="Administrador">Administrador</option>
                                <option value="Filantropia">Filantropia</option>
                                <option value="Beneficiario">Beneficiario</option>
                                <option value="Beneficiario">Admisiones</option>
                            </select>
                            <button class="editar-rol-button" data-username="{{ usuario.username }}">Editar</button>
                            <button class="eliminar-button" data-username="{{ usuario.username }}">Eliminar</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            
        </div>
    </div>
</body>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const botonesEliminar = document.querySelectorAll('.eliminar-button[data-username]');
    
        botonesEliminar.forEach(boton => {
            boton.addEventListener('click', function() {
                const username = this.dataset.username;
    
                if (confirm(`¿Estás seguro de que quieres eliminar al usuario ${username}?`)) {
                    fetch(`/eliminar_usuario/${username}/`, {
                        method: 'DELETE',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                    })
                    .then(response => {
                        if (response.ok) {
                            const fila = this.parentElement.parentElement;
                            fila.remove();
                        }
                    })
                    .catch(error => console.error('Error:', error));
                }
            });
        });
    
        const selectoresEditar = document.querySelectorAll('.editar-rol-select');
    
        selectoresEditar.forEach(function(selector) {
            selector.addEventListener('change', function() {
                const username = this.getAttribute('data-username');
                const nuevoFirstName = this.value;
    
                // Enviar el nuevoFirstName al servidor
                fetch('/editar_firstname/' + username + '/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: 'first_name=' + encodeURIComponent(nuevoFirstName)
                }).then(function(response) {
                    if (response.ok) {
                        // Actualizar el valor en la página
                        document.getElementById('firstname-' + username).textContent = nuevoFirstName;
                    } else {
                        alert('Hubo un error al guardar los cambios.');
                    }
                });
            });
        });
    });
    </script>

</html>