<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/perfil.css">
</head>

<body>
    <div class="perfil-container">
        <img class="logo" src="/static/images/ban-icesi.png" alt="Logo">
        <h1>Perfil de Usuario</h1>

        <form action="" method="post">
            {% csrf_token %}

            <!-- Campo de usuario no editable -->
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" value="{{ user.username }}" readonly><br><br>

            <!-- Campo de contraseña actual no editable -->
            <label for="password_actual">Contraseña Actual:</label>
            <input type="password" id="password_actual" name="password_actual" value="{{ user.password }}" readonly><br><br>

            <!-- Botón para mostrar campos de edición -->
            <button type="button" onclick="mostrarEdicion()" class="editar-btn">Editar Perfil</button>

            <!-- Campos de edición ocultos por defecto -->
            <div id="editar-usuario" style="display: none;">
                <label for="new_username">Nuevo Usuario:</label>
                <input type="text" id="new_username" name="new_username"><br><br>
            </div>

            <div id="editar-contrasena" style="display: none;">
                <label for="new_password">Nueva Contraseña:</label>
                <input type="password" id="new_password" name="new_password"><br><br>
            </div>

            <input type="submit" value="Guardar Cambios" class="editar-btn">
        </form>
    </div>

    <a href="/inicio" class="volver-btn">Volver al Inicio</a>

    <script>
        function mostrarEdicion() {
            var editarUsuario = document.getElementById('editar-usuario');
            var editarContrasena = document.getElementById('editar-contrasena');

            // Verificar si están visibles y cambiar la visibilidad
            if (editarUsuario.style.display === 'block' && editarContrasena.style.display === 'block') {
                editarUsuario.style.display = 'none';
                editarContrasena.style.display = 'none';
            } else {
                editarUsuario.style.display = 'block';
                editarContrasena.style.display = 'block';
            }
        }
    </script>
</body>

</html>
