<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet"> <!-- Agregamos la fuente Roboto -->
    <link rel="stylesheet" type="text/css" href="/static/signup.css">
</head>
<body>

    <div class="signup-container">
        <a class="back-button" href="/inicio/"></a>
        <img class="logo" src="/static/images/ban-icesi.png" alt="Logo">
        <h2>Registro de Usuario</h2>
        <form method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrarse</button>
        </form>
    </div>
</body>
</html>
